AnchorPane {
    -fx-text-fill: #333333;
    -fx-font-family: 'Arial';
    -fx-background-image: url("images/lightbg.png");
    -fx-background-repeat: no-repeat;
}

.AnchorPane {
    -fx-background color: rgba(255, 255, 255, 0.3);
}

Button, .choice-box {
    -fx-background-color: rgba(59, 130, 246, 0.7);
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: rgba(59, 130, 246, 1);
    -fx-border-width: 1.5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: 'Arial';
}

Button {
    -fx-padding: 5px 5px 5px 5px;
}

Button:hover {
    -fx-background-color: rgba(59, 130, 246, 1);
}

.choice-box > .label {
    -fx-text-fill: white;
}

/* dropdown list */
.choice-box .context-menu {
    -fx-background-color: rgba(59, 130, 246, 0.9);
    -fx-background-radius: 8;
}

.choice-box .menu-item:focused {
    -fx-background-color: rgba(37, 99, 235, 0.8);
}

TextField, TextArea {
    -fx-background-color: #E0F2FE;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #CBD5E1;
    -fx-padding: 3px 5px 3px 5px;
}

ListView {
    -fx-background-color: #E4f5ED;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

Label {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

Text {
    -fx-font-size: 18px;
    -fx-font-family: 'Trebuchet MS';
}